# Mengabaikan virtual environment
.venv/
venv/
ENV/

# Mengabaikan database SQLite lokal
*.db
*.sqlite3

# Mengabaikan file kompilasi Python (cache)
**/__pycache__/
*.py[cod]

# Mengabaikan file konfigurasi rahasia (.env)
.env

# Mengabaikan folder penyimpanan data MinIO
minio_data/

# Mengabaikan folder binary MinIO (berisi .exe MinIO yang besar)
minio/